.universe {
    position: absolute;
    overflow: hidden;
    background: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.universe .reference-system {
    position: absolute;
    background: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleY(-1);
    border: 1px solid yellow;
}

#ball1,
#ball2 {
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 100%;
}

#ball1 {
    background: red;
}

#ball2 {
    background: green;
}

#floor {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 1px;
    background: red;
}

#roof {
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 1px;
    background: red;
}

#ball1_v,
#ball2_v {
    position: absolute;
    width: 30px;
    height: 1px;
    margin: 3px 0 0 3px;
    background: yellow;
    z-index: 0;
    opacity: 0.5;
}

#ball1_v {
    !background: red;
}

#ball2_v {
    !background: green;
}
