body {
    background: black;
}


#webgl-canvas-container,
#html5-canvas-container {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    background: gray;
}

#webgl-canvas-container > *,
#html5-canvas-container > * {
    position: relative;
    width: 100%;
}

#webgl-canvas-container {
    left: 0;
}
#html5-canvas-container {
    right: 0;
}

#model-0 {
    border-color: red;
}

#model-1 {
    border-color: green;
}

